@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?r86wih');
  src:  url('fonts/icons.eot?r86wih#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?r86wih') format('truetype'),
    url('fonts/icons.woff?r86wih') format('woff'),
    url('fonts/icons.svg?r86wih#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark-circle:before {
  content: "\e959";
}
.icon-cross-circle:before {
  content: "\e95a";
}
.icon-plus-circle:before {
  content: "\e95b";
}
.icon-circle-minus:before {
  content: "\e95c";
}
.icon-plus-square:before {
  content: "\e98e";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\eef2";
}
.icon-vk:before {
  content: "\e910";
}
.icon-telegram:before {
  content: "\e699";
}
.icon-share:before {
  content: "\e920";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-visa:before {
  content: "\e908";
}
.icon-discover:before {
  content: "\e90b";
}
.icon-mastercard:before {
  content: "\e90c";
}
.icon-amex:before {
  content: "\e90a";
}
.icon-dollar:before {
  content: "\e909";
}
.icon-USD:before {
  content: "\e915";
}
.icon-heart:before {
  content: "\e68c";
}
.icon-check:before {
  content: "\e934";
}
.icon-checkmark:before {
  content: "\e937";
}
.icon-edit:before {
  content: "\e60d";
}
.icon-picture:before {
  content: "\e70e";
}
.icon-search:before {
  content: "\f002";
}
.icon-delete:before {
  content: "\e92b";
}
.icon-close:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e938";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-dropdown-delete:before {
  content: "\e92a";
}
.icon-dropdown-chevron:before {
  content: "\f0d7";
}
.icon-checkbox-filled:before {
  content: "\e917";
}
.icon-dropdown-spinner:before {
  content: "\eb23";
}
.icon-caret-down:before {
  content: "\e905";
}
.icon-caret-up:before {
  content: "\e903";
}
.icon-desc:before {
  content: "\e904";
}
.icon-asc:before {
  content: "\e902";
}
.icon-sort:before {
  content: "\e901";
}
